/*
Theme name: Modelisme
Author: Julien
Description: Clubs de modelisme en Occitanie
Version: 1.0.0
text domain: Occitanie Modelisme
tags: modelisme, clubs, occitanie, boutique
 */

 .logo-img{
    width: 100vw;
}

.blog-post {
    border-right: 1px dotted #aaa;
    border-top: 1px dotted #aaa;
    margin-top: 5%;
    padding: 5%;
    text-decoration: none;
    text-align: justify;
}

.blog-post a{
    color:#000;
}

.blog-post img{
    text-align: center;
}

.blog-post-meta{
    display: none;
}

.woocommerce ul{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
    width: 40% ;
}

.product h2{
    flex-grow: 1;
}

.related{
    border: 1px solid #000;
}

.dropdown-item {
    display: flex;
}

.navbar{
    background: #6dc1fa !important;
}

.nav-link{
    font-weight: 700;
    font-size: medium;
}