/*
Theme Name: Theme WHITE
Theme URI: https://devjl.fr
Author: Jean-Luc PEREZ
Author URI: https://devjl.fr
Description: 1er thème demandé
Version: 1.0
*/
*
{
    margin-block-end: 0;
}
body {
    background-color: #c2c2c2;
    color: rgb(0, 0, 0);
    min-height: 100vh;
}
header
{
    color: #FFF;
}

header > img
{
    width: 100%;
    position: relative;
    overflow: hidden;
}

.container_header
{
    position: absolute;
    z-index: 1;
}

.site__header__menu
{
    list-style: none;
    display: flex;
    background-color: #a7a7a7;
    padding: 15px;
    display: flex;
    justify-content: center;
    margin-bottom: 0;
    
}

.site__header__menu > li > a {
    color: rgb(0, 0, 0);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;
}
.site__header__menu > li
{
    padding-right: 70px;
}

.container_accueil,
.container_contact,
.container_blog,
.container_politicy
{
    width: 100%;
    height: 500px;
    background-image: url('img/background_header.png');
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 90px;

}
.container_contact {
    background-image: url('img/background_contact.jpg');
    background-size:cover;
}
.container_blog
{
    background-image: url('img/background_blog.jpg');
    background-position-x: center;
    background-position-y: center;
}
.container_politicy{
    background-image: url('img/background_politicy.jpg')
}
h3
{
    transform: translateX(10px);
}

.title_container_accueil > a
{
    color: #FFF;
    text-decoration: none;
}

.container_page_principal
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.page_title
{
    margin-bottom: 120px;
}

blockquote
{
    padding: 50px;
    font-size: 19px;
    font-style: italic;
    background-color: #3a3a3a;
    border-radius: 15px;
    margin: 35px;
    text-align: justify;
    color: #fff
}

a {
    color: rgb(0, 0, 0);
}

.site__footer__menu
{
    list-style: none;
    display: flex;
    background-color: #5e5b5b;
    padding: 15px;
    justify-content: center;
    margin-bottom: 0;
    justify-content: space-around;
    margin-top: 90px;
}

.site__footer__menu > li > a {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;
    color: #242424;
}

.form-group > input
{
    width: 360px;
}

.form-group > textarea
{
    width: 600px;
}

.form-group
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group > button
{
    margin-top: 35px;
}

.newsletter
{
    padding: 50px;
    font-size: 19px;
    font-style: italic;
    background-color: #242424;
    border-radius: 75px;
    margin: 35px;
    text-align: center;
    color: #FFF;
    display: flex;
    flex-direction: column;

}

.post
{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 55px;
    background-color: #c2c2c2;
    margin-bottom: 55px;
    border-radius: 60px;
}

.post > img 
{
    width: 100px;
    height: 100px;
    align-self: center;
    border-radius: 1000px;
    margin: 30px;
}

.post > h1
{
    margin-bottom: 60px;
}

.meteo_wrap
{
    padding: 50px;
    font-size: 19px;
    font-style: italic;
    background-color: #3a3a3a;
    border-radius: 15px;
    margin: 35px;
    text-align: justify;
}